* {
    box-sizing: border-box;
    font-family: "Open Sans", sans;
}

body{
    background-color: green;
    color: white;
}

.center{
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 10px 25px #333;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    margin-top: 2em;
}

#searchBox{
    width: 75%;
    text-align: center;
}

#searchBoxContainer{
    margin-bottom: 1em;
}

#clearButton{
    margin: 0 auto;
    display: inline;
    position: absolute;
}

#searchSuggestions{
    list-style-type: none;
    margin: 0 auto;
    width: calc(600px * 0.75);
    padding: 1em;
    display: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.55);
    position: absolute;
    z-index: 2;
    background-color: white;
    max-height: 75vh;
    min-height: 300px;
    overflow: scroll;
    left: 50%;
    transform: translate(-50%,-1em);
    border-radius: 5px;
}

#searchSuggestions li:hover{
    background-color: #ccc;
}

.movie{
    margin: 0 2px;
    width: 110px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.movie img{
    width: 101px;
    height: 150px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}


#recommendations > .manyMovies{
    display: flex;
    overflow: scroll;
    font-size: small;
}
#searchSuggestions li {
    display: inline-block;
}

#searchSuggestions li div{
    width: 110px;
}
#searchSuggestions {
    flex-flow: row wrap;
    justify-content: space-between;
}